---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='About Me' description='About Page'>
  <section id=''>
    <div class='container' data-aos='fade-up'>
      <div class='row'>
        <div class='col-lg-12 text-center mb-5'>
          <h1 class='page-title'>Our Services</h1>
          <p>
            At <b>PureVibes</b>, we specialize in a myriad of services tailored
            to meet your brand's unique needs:
          </p>
        </div>
      </div>

      <div class='row mb-5'>
        <div class='d-md-flex post-entry-2 half' id='brand-strategy'>
          <a href='#' class='me-4 thumbnail'>
            <img
              src='/assets/img/post-landscape-2.jpg'
              alt=''
              class='img-fluid'
            />
          </a>
          <div class='ps-md-5 mt-4 mt-md-0'>
            <div class='post-meta mt-4'>First...</div>
            <h2 class='mb-4 display-4'>Brand Strategy &amp; Vision</h2>
            <p>
              <b>PureVibes</b> understands that your brand is more than a loge,
              it’s a prolonged identity. As an agency we provide professional
              brand strategy services that are not limited to curating your
              brand name and logo, Brand Photography, Brand Packaging design,
              Brand guanines and architecture and Brand positioning and
              messaging. Our aim is to ensure business growth, ensure loyalty
              and building a reputable brand.
            </p>
          </div>
        </div>

        <div class='d-md-flex post-entry-2 half mt-5' id='digital-marketing'>
          <a href='#' class='me-4 thumbnail order-2'>
            <img
              src='/assets/img/post-landscape-1.jpg'
              alt=''
              class='img-fluid'
            />
          </a>
          <div class='pe-md-5 mt-4 mt-md-0'>
            <div class='post-meta mt-4'>Second...</div>
            <h2 class='mb-4 display-4'>Media &amp; Influencer Marketing</h2>
            <p>
              Discover great collaborations of brilliant minds in PureVibes.Co,
              our team of passionate creative create and implement custom
              strategies that help to achieve business marketing goals. Thus, we
              offer various services that are not limited to content creation
              and planning, social media setup and optimization, social media
              community management and social media analytics and reporting. In
              addition, we offer guerrilla campaigns and experimental marketing
              services for brands as well. We help build and maintain strong
              presence on platforms such as Instagram, Facebook, X and Linkedin
              with business of all sizes.
            </p>
            <p>
              By adopting of our media and influencer marketing services, we
              helps business/brands generate leads and sales, strong brand
              awareness, increase website traffic and building customer loyalty.
              Contact us today to harness the power of collaboration amongst
              influencers and leverage on influential and creative voices to
              amplify your brand's reach.
            </p>
          </div>
        </div>

        <div class='d-md-flex post-entry-2 half' id='event-planning'>
          <a href='#' class='me-4 thumbnail'>
            <img
              src='/assets/img/post-landscape-2.jpg'
              alt=''
              class='img-fluid'
            />
          </a>
          <div class='ps-md-5 mt-4 mt-md-0'>
            <div class='post-meta mt-4'>Third...</div>
            <h2 class='mb-4 display-4'>Event Planning &amp; Execution</h2>
            <p>
              <b>PureVibes</b> offers memorable and fun event planning and
              execution services. We pay attention to all entertainment details,
              from event planning & strategy, event theming, vendor
              coordination, event staffing & management and post-event analysis.
              In the process, we offer timely, open and transparent feedback
              keeping client informed in the process of planning and execution.
              Contact us today to not only plan your event but create an
              experience that will linger in the heart and mind of your
              audience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='mb-5 bg-light py-5'>
    <div class='container' data-aos='fade-up'>
      <div class='row justify-content-between align-items-lg-center'>
        <div class='col-lg-5 mb-4 mb-lg-0'>
          <h2 class='display-4 mb-4'>Ready to Work with Us?</h2>
          <p>
            Ready to embark on a journey of creative exploration? Your vision is
            our expertise - together, let's create <b>Pure Vibes</b> . Whether
            you're seeking to boost your digital presence, redefine your brand
            or plan a memorable event – we've got you covered. Let's craft your
            brand's story together. Contact us today and discover the power of
            <b>Pure Vibes</b> – where creativity knows no bounds!
          </p>
          <p><a href='/contact' class='more'>Book Us</a></p>
        </div>
        <div class='col-lg-6'>
          <div class='row'>
            <div class='col-6'>
              <img
                src='/assets/img/post-portrait-3.jpg'
                alt=''
                class='img-fluid mb-4'
              />
            </div>
            <div class='col-6 mt-4'>
              <img
                src='/assets/img/post-portrait-4.jpg'
                alt=''
                class='img-fluid mb-4'
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
